@charset "UTF-8";

@font-face {
    font-family: 'blood';
    src: url('../fontes/Blood_n\ Guts.ttf') format('truetype');
    
}
body{
    height: 100vh;
    background-color: black;
}
:root{
    --cor0: #f0b800c0;
    --cor1: black;
    --cor2: darkred;
    --cor3: red; 
    
}
nav{
    background-color: black;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(139, 0, 0, 0.795);
}
nav > a{
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-shadow: 5px 5px 10px rgba(139, 0, 0, 0.63);
}
nav > a:hover{
    background-color: rgba(75, 75, 75, 0.322);
    border-radius: 5px;
    transition: 0.5s;
}
header > h1{
    color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);
font-family: 'blood', Arial, Helvetica, sans-serif;
text-align: center;
font-weight: lighter;
font-size: 50px;
}
section{
    margin: 2px;
    margin-bottom: 20px;
}

#img-asta{
    background-image: url('../imagens/Asta\ _[Black\ Clover].jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
}
nav.asta-link{
    background-color: darkred;
}
section > nav > a{
    font-size: 18px;
    font-family: "blood", Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
}

#img-yuno{
    background-image: url('../imagens/yuno.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
}

nav.yuno-link{
    background-color: darkolivegreen;
    box-shadow: 2px 2px 5px darkolivegreen;
}